body{
    /* font-family: 'Noto Serif TC', serif; */
    /* font-family: '微軟正黑體'; */
    font-family: 'Noto Sans TC', sans-serif;
}
#home_area{
    width: 100vw;
    height: 500px;
    position: relative;
}
#home_area .row,#select_area .row{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navbar{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
.navbar-brand{
    margin: 0px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    padding-right: 25px;
    padding-left: 25px;
}
.nav-link{
    font-size: 25px;
    margin: 0px 9px;
}
.jumbotron{
    margin: 10px auto;
    padding-top: 90px;
    padding-bottom: 3px;
    background-color: #c7d6d8;
    color: black;
}
.jumbotron h1{
    font-weight: bold;
}

footer{
    display: block;
    margin: 0 5px;
}
#select_area{
    width: 100vw;
    height: 800px;
    position: relative;
    border: 2px solid #83b1c9;
    border-radius: 5px 5px 5px 5px;
    top: 115px;
}
#select_area button{
    font-size: 35px;
}
#select_area p{
    margin: 15px auto;
}
#vip #blank,#lazy #blank{
    height: 30vh;
}
#blank{
    height: 50px;
}
#result_area{
    width: 100vw;
    height: 1800px;
    position: relative;
    display: none;
    margin: 130px auto;
}
#result_area .card-header{
    padding: 0 65px;
}
#result_area a{
    font-size: 25px;
    color: black;
    font-weight: bold;
}
#result_area h3{
    font-size: 25px;
    margin: 5px 40px;

}
#result_area p{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
}
#result_area #hint p{
    font-size: 18px;
    margin: 0 50px;
}
.row h1{
    font-size: 60px;
    margin: 3vh 0vh;
}
.row select{
    margin: 3vh 0px;
    font-size: 25px;
}
#home_area .card{
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .5s;
}
#home_area .card-title{    
    display:flex;
    justify-content:center;
    align-items:center; 
    text-decoration: none; 
    color: black;
}
#home_area .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5%);
}
.navbar{
    background-color: #83B1C9;
    
}
/* 標題底色 */
#plan1 .card-header,#plan3 .card-header {
    background-color: #c6d2be; 
}
#plan2 .card-header,#plan4 .card-header {
    background-color: #83B1C9; 
}
/* 內容底色&文字顏色 */
#plan1_result,#plan3_result{
    background-color: #EBEBE3;
    /* color: white; */
}
#plan2_result,#plan4_result,.btn{
    background-color: #c7d6d8;
}
@media only screen and (max-width: 767px){
    .jumbotron h1{
        font-size: 40px;
    }
    .jumbotron p{
        font-size: 20px;
    }
    #home_area{
        height: 750px;
    }
    #home_area .card{
        width: 50%;
    }
    #select_area{
        top: 105px;
        width: 90vw;
    }
    #vip #select_area{
        /* height: 140vw; */
        height: 850px;
    }
    #lazy #select_area{
        /* height: 180vw; */
        height: 800px;
    }
    #select_area img{
        width: 25%;
    }
    #result_area{
        height:3450px;
    }
    #result_area .card-header{
        padding: 0 40px;
    }
    #result_area a{
        font-size: 20px;
    }
    #result_area h3{
        font-size: 20px;
        margin: 5px 20px;
    }
    #result_area p{
        font-size: 18px;
        /* margin: 0 25px; */
        margin-left: 25px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-left: 15px;
    }
    .row h1{
        font-size: 40px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){   
   /* css for pad ....... */
    #select_area img{
        width: 50%;
    }
    #result_area{
        width: 100vw;
        height: 2000px;
    }
}