body{
    /* font-family: 'Noto Serif TC', serif; */
    /* font-family: '微軟正黑體'; */
    font-family: 'Noto Sans TC', sans-serif;
}
#home_area{
    width: 100vw;
    height: 60vh;
    position: relative;
}
#home_area .row,#select_area .row{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navbar{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-brand{
    margin: 0px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    padding-right: 25px;
    padding-left: 25px;
}
.nav-link{
    font-size: 25px;
    margin: 0px 9px;
}
.jumbotron{
    margin: 10px auto;
    padding-top: 90px;
    padding-bottom: 3px;
}
.jumbotron h1{
    font-weight: bold;
}

footer{
    display: block;
    margin: 0 5px;
}
#select_area{
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    top: 115px;
}
#select_area button{
    font-size: 35px;
}
#select_area p{
    margin: 15px auto;
}
#vip #blank,#lazy #blank{
    height: 30vh;
}
#blank{
    height: 15vh;
}
#result_area{
    width: 100vw;
    height: 350vh;
    position: relative;
    display: none;
    margin: 130px auto;
}
#result_area .card-header{
    padding: 0 65px;
}
#result_area a{
    font-size: 25px;
    color: black;
    font-weight: bold;
}
#result_area h3{
    font-size: 25px;
    margin: 5px 40px;

}
#result_area p{
    font-size: 20px;
    margin: 0 50px;
    padding-left: 15px;
}
.row h1{
    font-size: 60px;
    margin: 3vh 0vh;
}
.row select{
    margin: 3vh 0px;
    font-size: 25px;
}
#home_area .card{
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .5s;
}
#home_area .card-title{    
    display:flex;
    justify-content:center;
    align-items:center; 
    text-decoration: none; 
    color: black;
}
#home_area .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5%);
}

@media only screen and (max-width: 767px){
    .jumbotron h1{
        font-size: 40px;
    }
    .jumbotron p{
        font-size: 20px;
    }
    #home_area{
        height: 120vh;
    }
    #home_area .card{
        width: 50%;
    }
    #select_area{
        top: 105px;
        width: 90vw;
    }
    #vip #select_area{
        height: 140vh;
    }
    #lazy #select_area{
        height: 130vh;
    }
    #select_area img{
        width: 25%;
    }
    #result_area{
        height: 320vh;
    }
    #result_area .card-header{
        padding: 0 40px;
    }
    #result_area a{
        font-size: 20px;
    }
    #result_area h3{
        font-size: 20px;
        margin: 5px 20px;
    }
    #result_area p{
        font-size: 18px;
        margin: 0 25px;
        padding-left: 15px;
    }
    .row h1{
        font-size: 40px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){   
   /* css for pad ....... */
    #select_area img{
        width: 50%;
    }
}